.vehicle-marker {
  position: relative;
}

.vehicle-icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #2563eb; /* Couleur par défaut, sera écrasée par le style inline */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} 